@model List<Mechanica.Models.Products>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="container-fluid col-4">
            <div class="card mb-4">
                <partial name="_IndexCardContain" model="product" />
            </div>
        </div>
    }
</div>




